<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>
<section class="container">
    <h3>Mon profil</h3>
    <p>Nom : <span th:text="${#strings.capitalize(session.user.name)}"></span></p>
    <p>Email : <span th:text="${session.user.email}"></span></p>
</section>
<div th:replace="fragments::scripts"></div>
</body>
</html>